.note-wrapper {
  margin: auto;
}

.note {
  background-color: antiquewhite;
  width: fit-content;
  height: fit-content;
  box-shadow: 0 6px 11px rgb(0 0 0 / 40%);
  transform: skewX(-3deg);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
}

.note > h3 {
  color: black;
}

.note > h3.eventTitle {
  color: black;
  font-size: 2.4rem;
}

.note > p {
  color: black;
}

.note:hover {
  box-shadow: 0 14px 16px rgba(0, 0, 0, 0.24);
  transform: skewX(1deg);
}

.pin {
  width: 15%;
}
.pickRandom {
  grid-area: f;
}

/* POSITIONS */

.a1 {
  grid-area: a1;
}

.a2 {
  grid-area: a2;
}

.a3 {
  grid-area: a3;
}

.b1 {
  grid-area: b1;
}

.b2 {
  grid-area: b2;
}

.b3 {
  grid-area: b3;
}

@media (max-width: 768px) {
  .note {
    padding-top: 0.2rem;
  }
  .note > h3,
  .note > p {
    margin-bottom: 0.8rem;
  }
  .note > h3.subtitle {
    font-size: 0.8rem;
  }
  .note > h3.eventTitle {
    font-size: 1.4rem;
  }
  .note > p.info {
    font-size: 1.2rem;
  }
  .pin {
    width: 15%;
  }
}
