main.event-wrapper {
  display: grid;
  /* grid-template-rows: 1fr 1fr; */
  grid-template-columns: 2fr 1fr;
  grid-template-areas:
    "a b"
    "c d";
  gap: 2rem;
  /* height: 90vh; */
}

.event-container.title {
}

.description {
  grid-area: c;
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
}

.title-wrapper > h1 {
  grid-area: a;
  font-size: 7rem;
}

.title-wrapper {
  grid-area: a;
}

h3.eventTitle {
  font-size: 3rem;
  /* display: inline; */
  margin-block-end: 0.2rem;
  color: black;
}

.eventImg {
  grid-area: b;
}

.event-container > .eventImg {
  width: 30%;
}

.keyInfo {
  /* border: solid 1px black; */
  grid-area: d;
  padding: 1rem;
  background-color: antiquewhite;
  opacity: 0.4;
  color: black;
}

.buttonItem {
  max-width: 120px;
  margin-inline-end: 2rem;
}

button.funButton.donate {
  background-color: var(--yellow);
  font-family: var(--font-headings);
}

button.funButton.ready {
  background-color: var(--green);
  font-family: var(--font-headings);
}

.buttonWrapper {
  display: flex;
}

button.funButton.ready.orange {
  background-color: var(--orange);
  font-family: var(--font-headings);
}

@media (max-width: 768px) {
  main.event-wrapper {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
  }
  .title-wrapper > h1 {
    font-size: 4rem;
  }
  .buttonWrapper {
    margin-block-end: 2.5rem;
  }
  h3.howtoplay {
    font-size: 3rem;
  }
}
