main.whatson {
  max-width: 800px;
}
main.whatson > h1.funtitle {
  display: inline-block;
  margin-inline-end: 2rem;
}

main.whatson > h2.tagline {
  display: inline-block;
}

main.whatson .event {
  margin-bottom: 5rem;
  /* max-width: 1080px; */
  display: flex;
  flex-direction: column;
  text-align: center;
}

main.whatson .event > p {
  margin-bottom: 1rem;
}

main.whatson > .event > h3.eventTitle {
  font-size: 3rem;
  color: white;
  font-weight: 400;
}

@media (max-width: 768px) {
  .event > a {
    align-self: flex-end;
  }
}
