main.whatson {
  max-width: 800px;
}
main.whatson > h1.funtitle {
  display: inline-block;
  margin-inline-end: 2rem;
}

main.whatson > h2.tagline {
  display: inline-block;
}

.event {
  margin-bottom: 4rem;
  max-width: 1080px;
  display: flex;
  flex-direction: column;
}

.eventTitle {
  font-size: 3rem;
  font-weight: 400;
}

@media (max-width: 768px) {
  .event > a {
    align-self: flex-end;
  }
}
