main.whatson {
  max-width: 800px;
}
main.whatson > h1.funtitle {
  display: inline-block;
  margin-inline-end: 2rem;
}

main.whatson > h2.tagline {
  display: inline-block;
}

main.whatson .event {
  margin-bottom: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--green);
  padding: 2rem;
}
main.whatson .event > .event-item {
  max-width: 50%;
}

main.whatson .event > .event-item.secondary {
  display: flex;
  flex-direction: column;
  align-items: end;
}

main.whatson .event > .event-item > p {
  margin-bottom: 1rem;
  text-align: right;
}

main.whatson .event > .event-item > p.eventDate {
  text-align: left;
}

main.whatson > .event > .event-item > h3.eventTitle {
  font-size: 3rem;
  color: black;
  font-weight: 400;
  margin-block-end: 1rem;
  background: var(--pink);
  padding: 1rem;
  margin-inline-start: -3rem;
  margin-block-start: -3rem;
}

main.whatson > .event > .event-item > a.book > button {
}

@media (max-width: 768px) {
  main.whatson .event {
    flex-direction: column;
  }
  main.whatson .event > .event-item {
    max-width: 100%;
  }

  main.whatson > .event > .event-item > h3.eventTitle {
    width: fit-content;
  }

  main.whatson .event > .event-item > p {
    text-align: left;
  }

  .event > a {
    align-self: flex-end;
  }
}
