.giftaidformWrapper {
  display: flex;
  flex-direction: column;
}

form.giftaid {
  border: solid black 3px;
  padding: 3rem;
  border-radius: 5px;
  background-color: var(--orange);
  position: relative;
  max-width: 800px;
}

form.giftaid > h3 {
  letter-spacing: 0.4rem;
  font-size: 2rem;
}

form.giftaid > .formItem {
  width: 100%;
  display: flex;
  font-weight: 300;
}

form.giftaid > .formItem {
  margin-block-end: 1rem;
}

form.giftaid > .formItem > label.multiple {
  margin-inline-end: 2rem;
}

form.giftaid > .formItem > label > input[type="number"] {
  min-width: 60px;
  max-width: 100px;
}

form.giftaid > .formItem > label > textarea {
  background-color: transparent;
  border: 3px solid black;
  padding: 1rem;
  border-radius: 10px;
}

form.giftaid > button {
  width: fit-content;
  margin: auto;
  padding: 0.6rem;
  background-color: var(--green);
  color: black;
}

.giftaidformWrapper > form.giftaid > .formItem > label {
  align-items: end;
  justify-content: flex-start;
  color: black;
}

.giftaidformWrapper > form.giftaid > .formItem > label.number > input {
  margin-block-end: 0;
  margin: 0 1rem;
  /* color: white; */
}

.giftaidformWrapper > form.giftaid > .formItem > label > p {
  margin-block-end: 0;
}

input::placeholder {
  color: black;
}

form.giftaid > input:focus {
  border-bottom: 1px solid white;
  background-color: rgb(88, 83, 83);
  color: white;
}

.input-label {
  font-family: var(--font-headings);
  color: black;
  transition: 0.25s ease;
  margin: 0;
  display: none;
}

label.wrap {
  margin: 0;
  flex-grow: 1;
}

.detailsWrapper {
  margin-block-end: 2rem;
}
.prefWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  width: 100%;
}

.prefWrapper > input {
  min-width: inherit;
  width: inherit;
}

.GAFormError > p {
  background-color: darkmagenta;
  color: #fff;
  width: fit-content;
  padding: 0.6rem;
  text-align: center;
  margin: auto;
  font-size: 1.4rem;
  margin-block-end: 0;
}

@media (max-width: 768px) {
  form.giftaid {
    max-width: 100%;
  }
  form.giftaid > .formItem {
    flex-direction: column;
    margin-block-end: 2rem;
  }

  .giftaidformWrapper > form.giftaid > .formItem > label {
    flex-direction: column;
    align-items: flex-start;
  }

  .giftaidformWrapper > form.giftaid > .formItem > label.center {
    align-items: center;
  }

  .giftaidformWrapper > form.giftaid > .formItem > label > span {
    width: 100%;
  }

  .helperText > p {
    left: 3rem;
    bottom: -3rem;
  }
}
