main.piece-wrapper {
  display: grid;
  /* grid-template-rows: 1fr 1fr; */
  grid-template-columns: 2fr 1fr;
  grid-template-areas:
    "a b"
    "c d";
  gap: 2rem;
  height: 90vh;
}

.piece-container.title {
}

.description {
  grid-area: c;
}

.title-wrapper > h1 {
  grid-area: a;
  font-size: 8rem;
}

h3.pieceTitle {
  font-size: 3rem;
  /* display: inline; */
  margin-block-end: 0.2rem;
}

.pieceImg {
  grid-area: b;
}

.piece-container > .pieceImg {
  width: 30%;
}

.keyInfo {
  /* border: solid 1px black; */
  grid-area: d;
}

input.donateBtn {
  max-width: 120px;
  margin-inline-end: 2rem;
}

button.readyToPlay {
  background-color: var(--green);
  font-family: var(--font-headings);
}

.buttonWrapper {
  display: flex;
}
