main.giftaid.contentWrapper {
  flex-direction: column;
  text-align: center;
  max-width: 1080px;
}

main.giftaid.contentWrapper > .contentItem {
  width: 100%;
  max-width: 800px;
  margin: auto;
  margin-block-end: 2rem;
}

main.giftaid.contentWrapper > .contentItem > button.pieceURL {
  background-color: var(--pink);
  font-weight: 800;
  font-family: var(--font-headings);
  letter-spacing: 0.4rem;
}
main.giftaid.contentWrapper > button.pieceURL > a {
  text-transform: uppercase;
}

/* form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

form > input {
  margin-block-end: 1rem;
} */

@media (max-width: 768px) {
  main.contentWrapper {
    flex-direction: column;
  }
  main.contentWrapper > .contentItem {
    max-width: 100%;
  }
}
