footer {
  z-index: 10;
}

footer > nav {
  display: flex;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 13;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  /* font-weight: 600; */
  background-color: var(--pink);

  color: black;
}

ul.footerWrapper {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 0;
}

.footerItem {
  display: flex;
}
.footerItem > li {
  margin-inline-end: 2rem;
}

.footerItem:last-child {
  text-align: right;
}

@media (max-width: 768px) {
  ul.footerWrapper {
    flex-wrap: nowrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 0;
  }
  .footerItem {
    flex-direction: column;
  }

  .footerItem:last-child > li {
    margin-inline-end: 0;
  }
}
