section.landing {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

img.logo {
  width: 20%;
  position: fixed;
  z-index: 16;
}

/* BACKGROUND */

.shape {
  width: 50%;
  height: 50%;
  position: fixed;
  transform: rotate(45deg);
  z-index: 10;
  opacity: 0.4;
}

.yellow.shape {
  background-color: var(--yellow);
  top: 0;
  left: 0;
}

.blue.shape {
  background-color: var(--blue);
  top: 0;
  right: 0;
}

.pink.shape {
  background-color: var(--pink);
  bottom: 0;
  left: 0;
}

.green.shape {
  background-color: var(--green);
  bottom: 0;
  right: 0;
}

.landing-container {
  /* background-color: var(--white); */
  background-color: var(--yellow);
  border: solid black 1px;
  transform: skew(1deg, -3deg);
  box-shadow: 7px 7px black;
  padding: 2rem;
  border-radius: 7px;
  margin-bottom: 2rem;
  z-index: 11;
}

.landing-title {
  z-index: 19;
  background-color: cornsilk;
  padding: 3rem;
  border-radius: 10px;
  border: solid 3px black;
}

.landing-title > h1 {
  color: black;
  font-size: 7rem;
}

h1 > span {
  display: block;
}

.landing-container > p {
  color: black;
}

.options-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}
