section.landing {
  min-height: 100vh;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  text-align: center;
}

img.logo {
  width: 20%;
  position: fixed;
  z-index: 16;
}

/* BACKGROUND */

.shape {
  width: 50%;
  height: 50%;
  position: fixed;
  transform: rotate(45deg);
  z-index: 10;
  opacity: 0.4;
}

.yellow.shape {
  background-color: var(--yellow);
  top: 0;
  left: 0;
}

.blue.shape {
  background-color: var(--blue);
  top: 0;
  right: 0;
}

.pink.shape {
  background-color: var(--pink);
  bottom: 0;
  left: 0;
}

.green.shape {
  background-color: var(--green);
  bottom: 0;
  right: 0;
}

.landing-container {
  transform: skew(1deg, -3deg);

  padding: 2rem;
  border-radius: 7px;
  margin-bottom: 2rem;
  z-index: 11;
}

.landing-title {
  z-index: 19;

  padding: 3rem;
}

.landing-title > h1 {
  color: black;
  /* color: white; */
  font-size: 7rem;

  width: fit-content;
  padding: 1rem;
  margin: auto;
  margin-bottom: 2rem;
}

h1 > span {
  display: block;
  background-color: var(--green);
  transform: skew(1deg, -3deg);
  box-shadow: 7px 7px black;
  width: fit-content;
  margin: auto;
  padding: 1rem;
  margin-top: -5px;
}

.landing-container > p {
  color: white;
}

.options-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}
button.raise.yellow {
  background-color: var(--yellow);
}

.landing-title > .siteCredit {
  transform: skew(1deg, -3deg);
  text-align: center;
  margin-block-end: 2rem;
}

.landing-title > .siteCredit > .coney {
  font-family: "Courier New", Courier, monospace;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 2rem;
  letter-spacing: 0.2rem;
}

@media (max-width: 768px) {
  section.landing {
    flex-direction: column;
  }

  section.landing > .landingFormWrapper {
    max-width: 80%;
    margin-block-end: 4rem;
  }

  .landing-title > h1 {
    font-size: 4rem;
  }
  .landing-title {
    background-color: inherit;
    padding: 1rem;
    border: 0;
    background-color: inherit;
    border: none;
    transform: skew(1deg, -3deg);
    box-shadow: none;
    z-index: 11;
    width: 80%;
    margin-bottom: 2rem;
  }

  .landing-container {
    background-color: inherit;
    border: 0;
    transform: skew(1deg, -3deg);
    box-shadow: none;
    padding: 1rem;
    color: white;
    margin-bottom: 0;
    z-index: 11;
  }

  .landing-container > p {
    color: white;
  }

  img.logo {
    width: 80%;
    position: fixed;
    z-index: 16;
  }
}
