@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Fredoka+One&family=Silkscreen&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap");

:root {
  /* --green: #2bcdb5;
  --purple: #7736db;
  --yellow: #ffc548;
  --orange: #ff6d48;
  --pink: #fa7f98;
  --blue: #009ef4;
  --white: #f9f8f5; */
  --purple: #5c65b9;
  --green: #2b9595;
  --yellow: #d59e20;
  --pink: #af60b0;
  --orange: #dd6a48;
  --lightpink: #fa7f98;
  --font-headings: "Bungee Shade", sans-serif;
  /* --font-headings: "Silkscreen", sans-serif; */
  --font-headings: "Comfortaa", sans-serif;
  /* --font-headings: "Courier New", sans-serif; */
  --font-body: "Space Grotesk", sans-serif;
  --font-color: rgb(241, 235, 235);
  --font-size: 1.6rem;
  --padding: 1.5rem;
  background-color: var(--purple);
}

body {
  background-color: var(--purple);
  min-height: 100vh;
  color: var(--font-color);
  font-size: var(--font-size);
  font-family: var(--font-body);
}

main {
  padding: 2rem;
  /* padding-top: 70px; */
  padding-bottom: 70px;
  max-width: 1080px;
  margin: auto;
  margin-bottom: 30rem;
}

a {
  text-decoration: none;
  color: var(--font-color) !important;
}

h1,
h2,
h3 {
  color: var(--font-color);
  font-family: var(--font-headings);
  font-weight: 900;
}

h1 {
  font-size: 4rem;
}

h3 {
  font-weight: 500;
  letter-spacing: 0.2rem;
  line-height: 1.13636;
  text-transform: uppercase;
}

p {
  font-size: 1.7rem;
}

.funtitle {
  background-color: var(--yellow);
  width: fit-content;
  padding: 1rem;
  color: black;
  /* -webkit-text-stroke-width: 1.1px;
  -webkit-text-stroke-color: var(--white); */
  transform: skew(1deg, -3deg);
  box-shadow: 7px 7px black;
}

#editor {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.75;
}

img:hover {
  opacity: 1;
  transition: opacity 0.25s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.highlighted {
  border-bottom: 1px solid var(--font-color);
}

/* SPINNING ANIMATION */

.spinning {
  animation-name: spin;
  animation-duration: 500000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  /* transform: rotate(3deg); */
  /* transform: rotate(0.3rad);/ */
  /* transform: rotate(3grad); */
  /* transform: rotate(.03turn);  */
}

@keyframes spin {
  from {
    transform: rotate(45deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 768px) {
  main {
    min-height: 100vh;
    /* padding-top: 120px; */
    padding-bottom: 100px;
  }
  h1 {
    font-size: 2rem;
  }

  .funtitle {
    background-color: var(--yellow);
    width: fit-content;
    padding: 1rem;
    color: black;
    transform: skew(1deg, -3deg);
    box-shadow: 7px 7px black;
  }
}

/* BUTTONS  */

button {
  padding: 8px;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
}

button.raise {
  background-color: var(--green);
  box-shadow: 5px 5px black;
}

button.raise:hover {
  /* transform: translateY(4px); */
  background-color: var(--yellow);
}

button.raise:active {
  box-shadow: 2px 2px black;
  transform: translateY(4px);
  background-color: var(--orange);
  color: var(--white);
}

.funButton {
  background-color: var(--yellow);
  width: fit-content;
  padding: 1rem;
  color: black;
  transform: skew(1deg, -3deg);
  box-shadow: 7px 7px black;
}

.funButton:active {
  box-shadow: 2px 2px black;
  transform: translateY(4px);
}

.funButton:active {
  box-shadow: 2px 2px black;
  transform: translateY(4px);
}

button.green {
  background-color: var(--green);
  padding: 3px 8px;
  border: white 1px solid;
  color: white;
}

button.green:hover {
  cursor: pointer;
}
