.polaroid {
  background-color: white;
  box-shadow: 0 6px 11px rgb(0 0 0 / 40%);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  width: fit-content;
  margin: auto;
}

.polaroid:hover {
  box-shadow: 0 14px 16px rgba(0, 0, 0, 0.24);
  transform: skewX(-1deg);
}

.imgWrapper {
  background-color: black;
  width: fit-content;
  height: 100%;
}

.imgWrapper > img {
  max-height: 150px;
}

.polaroid > .caption {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
}

.polaroid > .caption > p {
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .imgWrapper {
    margin-bottom: 0.5rem;
  }
  .polaroid > .caption {
    padding: 0rem;
    font-size: 1.2rem;
  }
}
